:root {
  --base-color: #222831;
  --background-color: #2b323e;
  --text-color: #e0e0e0;
  --accent-color: #fab95b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 96px;  /* hoogte van de hoofding */
}

body {
  padding: 1rem;
  min-height: 100vh;
  font-family: 'Figtree', sans-serif;
  font-weight: 200;
  color: var(--text-color);
  background-color: var(--base-color);
}

a {
  text-decoration-color: transparent;
  text-decoration-thickness: .1rem;
  text-underline-offset: .5rem;
  transition: .2s ease-out;
  color: var(--accent-color);
}

a:hover,
a:focus {
    text-decoration-color: var(--accent-color);
}

h1 {
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

h2 {
  padding: 4rem 0 1rem 0;
}

h2:first-of-type {
  padding-top: 0;
}

p {
  margin-bottom: 1rem;
}

.container {
  margin: 0 auto 1rem auto;
  padding: 1rem;
  width: min(calc(1110px + 2rem), 100%);
  background-color: var(--background-color);
  border-radius: .5rem;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

header a {
  color: inherit;
}

#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: .95;
  backdrop-filter: blur(5px);
  margin: 0 auto 1rem auto;
  border-radius: 0%;
}

.logo {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.logo__img {
  height: 4rem;
  width: auto;
  filter: invert(99%) sepia(28%) saturate(176%) hue-rotate(175deg) brightness(117%) contrast(76%);  /* https://codepen.io/sosuke/pen/Pjoqqp */
}

.logo__name {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.4rem;
}

.nav {
  transition: all .2s ease-in-out;
}

.nav__list {
  list-style: none;
  display: flex;
  gap: .5rem;
}

.nav__link {
  padding: .2rem .5rem;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: .1rem;
  text-underline-offset: .5rem;
  transition: .2s ease-out;
}

.nav__link:hover, 
.nav__link:focus {
  text-decoration-color: var(--accent-color);
}

.nav__link--active {
  color: var(--accent-color);
  text-decoration-color: var(--accent-color);
}

.hamburger {
  display: none;
  cursor: pointer;
}

#close {
  display: none;
}

.overlay {
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  inset: 0;
  display: none;
}

.hamburger--open {
  transform: translate(0) !important;
}

header:has(.hamburger--open) + .overlay {
  display: block;
}

.hamburger--open ~ .hamburger > #open {
  display: none !important;
}

.hamburger--open ~ .hamburger > #close {
  display: block !important;
}

#hero-container {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.hero__text {
  line-height: 1.5rem;
  flex: 4
}

.hero__text > h1 {
  text-transform: capitalize;
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
}

.hero__logo {
  flex: 1;
}

.hero__logo img {
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  opacity: .4;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: 20rem;
  gap: .5rem;
}

.modal {
  /* https://www.w3schools.com/howto/howto_css_modal_images.asp */
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  inset: 0;
  display: none;
  z-index: 99999;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.modal__frame {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, .2);
  backdrop-filter: blur(5px);
  border-radius: .5rem;
}

.modal__close-btn {
  font-size: xxx-large;
  font-weight: 700;
  color: var(--text-color);
  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.modal__figure {
  margin: auto;
  display: table;
  animation: zoom .2s;
  object-fit: contain;
  max-width: 90vw;
  max-height: 90vh;
}

.modal__image {
  max-width: 90vw;
  max-height: 90vh;
}

@keyframes zoom {
  from {
    transform: scale(0);
  } to {
    transform: scale(1);
  }
}

.modal__caption span {
  display: table-caption;
}

.modal__caption strong {
  font-weight: 700;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  grid-area: 1 / 1 / -1 / -1;
  cursor: pointer;
  transition: .2s;
}

.gallery__image:hover,
.gallery__image:focus {
  opacity: .6;
}

footer {
  text-align: center;
}

footer .container {
  margin: 0 auto;
  background-color: transparent;
}

/* media queries */
@media screen and (max-width: 711px) {
  .nav {
    position: fixed;
    top: 96px;
    right: 0;
    width: 100%;
    background-color: var(--background-color);
    transform: translateX(calc(-100% - 1rem));
    padding: 1rem;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .hamburger {
    display: block;
  }

  #hero-container {
    flex-direction: column;
    align-items: center;
  }

  .hero__logo {
    max-width: 50%;
  }

  .hero__logo img {
    max-width: 100%;
  }

  .hero__text{
    width: 100%;
  }

  .modal__frame {
    flex-direction: column-reverse;
    gap: 0;
    padding: 0 1rem 1rem 1rem;
  }

  .modal__close-btn {
    align-self: flex-end;
  }
}